
*.vsidx
*.lock
*.v2
*.1
*.dll
*.pdb
*.exe
.vs/HogwartsPotions/v17/.suo
bin/Debug/net6.0/appsettings.Development.json
bin/Debug/net6.0/appsettings.json
bin/Debug/net6.0/HogwartsPotions.deps.json
bin/Debug/net6.0/HogwartsPotions.runtimeconfig.json
bin/Debug/net6.0/HogwartsPotions.staticwebassets.runtime.json
obj/Debug/net6.0/HogwartsPotions.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/_IsIncrementalBuild
obj/Debug/net6.0/HogwartsPotions.AssemblyInfo.cs
obj/Debug/net6.0/HogwartsPotions.AssemblyInfoInputs.cache
obj/Debug/net6.0/HogwartsPotions.assets.cache
obj/Debug/net6.0/HogwartsPotions.csproj.AssemblyReference.cache
obj/Debug/net6.0/HogwartsPotions.csproj.BuildWithSkipAnalyzers
obj/Debug/net6.0/HogwartsPotions.csproj.CopyComplete
obj/Debug/net6.0/HogwartsPotions.csproj.FileListAbsolute.txt
obj/Debug/net6.0/HogwartsPotions.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/HogwartsPotions.genruntimeconfig.cache
obj/Debug/net6.0/HogwartsPotions.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net6.0/HogwartsPotions.MvcApplicationPartsAssemblyInfo.cs
obj/Debug/net6.0/staticwebassets.build.json
obj/Debug/net6.0/staticwebassets.development.json
obj/HogwartsPotions.csproj.nuget.dgspec.json
obj/HogwartsPotions.csproj.nuget.g.props
obj/HogwartsPotions.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/staticwebassets.pack.sentinel
Migrations/HogwartsContextModelSnapshot.cs
Migrations/20230115120908_Init.Designer.cs
Migrations/20230115120908_Init.cs
HogwartsPotions.csproj
HogwartsPotions.csproj
